.piePag{
    text-align: center;
    padding: 10px;
}

body{
    text-align: center;
    color: #2E2E2E;
    background-color: 	#F0F4EF;
}

button{
    padding: 10px 20px;
    font-weight: bold;

    background-color: 	#4CAF50;
}

button:hover{
    background-color: #86AC41;
}

h2{
    color: #FF5722;
}